.container {
    position: relative;
    flex: 1;
}

.containerOpen {
    z-index: 1;
}

.input {
    font-size: 18px;
    padding: 5px 10px;
    min-width: 100%;
    box-sizing: border-box;
}

.suggestionsContainer {
    background-color: white;
    position: absolute;
    min-width: 100%;
}

.suggestionsList {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ccc;
    cursor: default;
}

.suggestion {
    padding: 5px 10px;
}

.suggestionHighlighted {
    background-color: #efefef;
}
